# Auto detect text files and normalize line endings
* text=auto

# Julia files
*.jl text eol=lf

# Quarto/Markdown files
*.qmd text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.css text eol=lf

# JSON files
*.json text eol=lf
