<meta name="citation_title" content="Geoscientific Machine Learning">
<meta name="citation_author" content="Pankaj K Mishra">
<meta name="citation_publication_date" content="2026-04-03">
<meta name="citation_language" content="en">
<meta name="citation_public_url" content="https://geo-sciml.com/">
<meta name="citation_fulltext_html_url" content="https://geo-sciml.com/">
<meta name="citation_pdf_url" content="https://geo-sciml.com/geo-sciml.pdf">
<meta name="citation_doi" content="10.5281/zenodo.19540496">
<meta name="citation_isbn" content="">
<meta name="citation_abstract_html_url" content="https://geo-sciml.com/">
<meta name="dc.identifier" content="doi:10.5281/zenodo.19540496">
<meta name="dc.title" content="Geoscientific Machine Learning">
<meta name="dc.creator" content="Pankaj K Mishra">
<meta name="dc.date" content="2026-04-03">
<meta name="dc.type" content="book">
<meta name="dc.language" content="en">
<meta name="dc.rights" content="CC BY-SA 4.0">
